@font-face {
  font-family: "Open Sans";
  src: local('Open Sans'), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}

body {
  background-color: rgb(251, 251, 251);
  font-family: "Open Sans", sans-serif;
}

.App {
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5px 250px auto;
}