.sidebar {
    grid-column-start: 2;
    grid-column-end: 3;
    color: navy;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 5px;
    cursor: pointer;
}

.sidebar ul li:hover {
    font-weight: bold;
}

.sidebar__level1 {
    padding:0;
}

.sidebar__h1 {
    display:flex;
    font-size: 20px;
    align-items:center;
    font-weight: bold;
}

.sidebar__h1-content {
    margin-left: 5px;
}

.sidebar__level2 {
    font-size: 16px;
}

.sidebar__level3 {
    font-size: 14px;
    padding-left:15px;
}


/* TODO: refactor out collapsable somehow? */

.collapsable {
    grid-column-start: 2;
    grid-column-end: 3;
    color: navy;
}

.collapsable__content {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out, margin 0.25s;
}

.collapsable--open > .collapsable__content{
    max-height: 1000px;
    transition: max-height 0.30s ease-in, margin 0.25s;
}