.sidebar {
    grid-column-start: 2;
    grid-column-end: 3;
    color: navy;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 5px;
}

.sidebar__level1 {
    padding:0;
}

.sidebar__h1 {
    display:flex;
    font-size: 20px;
    align-items:center;
    font-weight: bold;
}

.sidebar__h1-content {
    margin-left: 5px;
}

.sidebar__level2 {
    font-size: 16px;
}

.sidebar__level2 {
    font-size: 14px;
}